%main.mdl-layout__content
  .mdl-grid
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
    .mdl-cell.mdl-cell--1-col 1
  .mdl-grid
    .mdl-cell.mdl-cell--4-col 4
    .mdl-cell.mdl-cell--4-col 4
    .mdl-cell.mdl-cell--4-col 4
  .mdl-grid
    .mdl-cell.mdl-cell--6-col
    .mdl-cell.mdl-cell--4-col
    .mdl-cell.mdl-cell--2-col
  .mdl-grid
    .mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet 6 (8 tablet)
    .mdl-cell.mdl-cell--4-col.mdl-cell--6-col-tablet 4 (6 tablet)
    .mdl-cell.mdl-cell--2-col.mdl-cell--4-col-phone 2 (4 phone)
