%main.mdl-layout__content
  .mdl-grid.mdl-grid--no-spacing
    .mdl-cell.mdl-cell--3-col
      = render 'sidebar'
    .mdl-cell.mdl-cell--9-col.mdl-grid
      = render 'section2'
      = render 'section2'
